@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap");

body {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
